# Obtain API key from https://platform.composio.dev to connect your agents and workflows to 200+ services
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
COMPOSIO_API_KEY=
