# Obtain API key from https://platform.composio.dev to connect your agents and workflows to 200+ services
#COMPOSIO_API_KEY=

# API keys for Mastra agents LLM providers
#OPENAI_API_KEY=<get from https://platform.openai.com/api-keys>
#ANTHROPIC_API_KEY=<get from https://console.anthropic.com/settings/keys>
#GOOGLE_GENERATIVE_AI_API_KEY=<get from https://aistudio.google.com/app/apikey>
